.button.primary {
    position: absolute;
    width: 236px;
    height: 48px;
    left: 84px;
    top: 60%;
    background: none;
    border: 2px solid black;
    border-radius: 24px;
    cursor: pointer;
   }
   
   .button.secondary {
    position: absolute;
    width: 236px;
    height: 48px;
    left: 84px;
    top: 60%;
    background: none;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 24px;
    cursor: pointer;
   }